absl-py==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
aiohttp==3.8.1 ; python_version >= "3.8" and python_version < "4.0"
aiosignal==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.8" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.8" and python_version < "4.0"
attrs==22.1.0 ; python_version >= "3.8" and python_version < "4.0"
cachetools==5.2.0 ; python_version >= "3.8" and python_version < "4.0"
certifi==2022.6.15 ; python_version >= "3.8" and python_version < "4"
charset-normalizer==2.1.0 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.5 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
datasets==2.5.1 ; python_version >= "3.8" and python_version < "4.0"
dill==0.3.5.1 ; python_version >= "3.8" and python_version < "4.0"
filelock==3.8.0 ; python_version >= "3.8" and python_version < "4.0"
frozenlist==1.3.1 ; python_version >= "3.8" and python_version < "4.0"
fsspec[http]==2022.7.1 ; python_version >= "3.8" and python_version < "4.0"
google-auth-oauthlib==0.4.6 ; python_version >= "3.8" and python_version < "4.0"
google-auth==2.10.0 ; python_version >= "3.8" and python_version < "4.0"
grpcio==1.48.0 ; python_version >= "3.8" and python_version < "4.0"
huggingface-hub==0.8.1 ; python_version >= "3.8" and python_version < "4.0"
hydra-core==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
idna==2.10 ; python_version >= "3.8" and python_version < "4"
importlib-metadata==4.12.0 ; python_version >= "3.8" and python_version < "3.10"
importlib-resources==5.9.0 ; python_version >= "3.8" and python_version < "3.9"
markdown==3.4.1 ; python_version >= "3.8" and python_version < "4.0"
markupsafe==2.1.1 ; python_version >= "3.8" and python_version < "4.0"
multidict==6.0.2 ; python_version >= "3.8" and python_version < "4.0"
multiprocess==0.70.13 ; python_version >= "3.8" and python_version < "4.0"
numpy==1.23.2 ; python_version < "4.0" and python_version >= "3.8"
oauthlib==3.2.0 ; python_version >= "3.8" and python_version < "4.0"
omegaconf==2.2.2 ; python_version >= "3.8" and python_version < "4.0"
packaging==21.3 ; python_version >= "3.8" and python_version < "4.0"
pandas==1.4.3 ; python_version >= "3.8" and python_version < "4.0"
protobuf==3.19.4 ; python_version >= "3.8" and python_version < "4.0"
pyarrow==9.0.0 ; python_version >= "3.8" and python_version < "4.0"
pyasn1-modules==0.2.8 ; python_version >= "3.8" and python_version < "4.0"
pyasn1==0.4.8 ; python_version >= "3.8" and python_version < "4.0"
pydeprecate==0.3.2 ; python_version >= "3.8" and python_version < "4.0"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
pytorch-lightning==1.7.1 ; python_version >= "3.8" and python_version < "4.0"
pytz==2022.2.1 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "4.0"
regex==2022.7.25 ; python_version >= "3.8" and python_version < "4.0"
requests-oauthlib==1.3.1 ; python_version >= "3.8" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.8" and python_version < "4"
responses==0.18.0 ; python_version >= "3.8" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.8" and python_version < "4"
setuptools==65.3.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
tensorboard-data-server==0.6.1 ; python_version >= "3.8" and python_version < "4.0"
tensorboard-plugin-wit==1.8.1 ; python_version >= "3.8" and python_version < "4.0"
tensorboard==2.10.0 ; python_version >= "3.8" and python_version < "4.0"
tokenizers==0.12.1 ; python_version >= "3.8" and python_version < "4.0"
torch==1.12.1 ; python_version >= "3.8" and python_version < "4.0"
torchmetrics==0.9.3 ; python_version >= "3.8" and python_version < "4.0"
tqdm==4.64.0 ; python_version >= "3.8" and python_version < "4.0"
transformers==4.21.1 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.3.0 ; python_version >= "3.8" and python_version < "4.0"
urllib3==1.26.11 ; python_version >= "3.8" and python_version < "4"
werkzeug==2.2.2 ; python_version >= "3.8" and python_version < "4.0"
wheel==0.37.1 ; python_version >= "3.8" and python_version < "4.0"
xxhash==3.0.0 ; python_version >= "3.8" and python_version < "4.0"
yarl==1.8.1 ; python_version >= "3.8" and python_version < "4.0"
zipp==3.8.1 ; python_version >= "3.8" and python_version < "3.10"
# bigbench
bigbench@https://storage.googleapis.com/public_research_data/bigbench/bigbench-0.0.1.tar.gz
# local package
-e .
